body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 400px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

.welcome-message h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-message p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #009688;
}

form button {
    width: 100.5%;
    padding: 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #007a6b;
}

a {
    color: #009688;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #007a6b;
}

.forgot-password {
    text-align: right;
    font-size: 14px;
}

.divider {
    font-size: 14px;
    margin: 10px 0;
    color: #888;
}

.footer-links {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}